.jumbotron {
    margin-bottom: 0px;
    background-image: url(../metalsurface.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid #333 5px;
}
